---
import Layout from "../layouts/Layout.astro";

const WORKER_URL = "https://million-worker.j4e.workers.dev";
---

<Layout>
    <section class="section">
        <div class="container is-max-tablet">
            <form class="panel is-link" onsubmit="return false;">
                <p class="panel-heading">Song search</p>
                <div id="search-panel" class="panel-block">
                    <p class="control has-icons-left">
                        <input
                            class="input"
                            type="search"
                            placeholder="Search"
                            name="q"
                            hx-get={WORKER_URL}
                            hx-target="#results"
                            hx-trigger="input changed, search"
                        />
                        <span class="icon is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
                <div id="results"></div>
                <div class="panel-block">
                    <input
                        class="button is-link is-outlined is-fullwidth"
                        type="reset"
                        value="Clear search"
                        hx-get={WORKER_URL}
                        hx-target="#results"
                        hx-trigger="click"
                        hx-vals='{"q": ""}'
                    />
                </div>
            </form>
        </div>
    </section>
</Layout>
